var _config = {
	"default" : {
		"env" : 'prod',
		"info" : {
			project : "Lilium CMS",
			version : "dev 0.1",
			author : "Erik Desjardins"
		},
		"data" : {
			engine : "mongodb",
			host : "HOST",
			port : PORT_NUMBER,
			user : "USER",
			pass : "PASS",
			use : "DATABASE"
		},
		"paths" : {
			admin : "admin",
			login : "login",
			livevars : "livevars",
			themes : "flowers",
			themesInfo : "info.json",
			plugins : "plugins",
			pluginsInfo: "info.json"
		},
		"server" : {
			base : "YOUR_COMPLETE_PATH_TO_LILIUM/",
			html : "YOUR_COMPLETE_PATH_TO_LILIUM/html",
			url : "http://URL:PORT_NUMBER",
			port : "PORT_NUMBER",
			postMaxLength : 1024,
			fileMaxSize : 3000000
		},
		"signature" : {
			publichash : "300da60969c40d4491da8cb9341b9bce9aa29da88d457de8aa3ce24576bd899e", // Lilium
			privatehash : "8067de5b0c3efd797325110ce7110f216f66a4df1d7759aa4d2fd9d2a52e4580" // JM
		},
		"beta" : {
			test : true,
			text : "Hello, World!"
		},
		"usability" : {
			"admin" : {
				loginIfNotAuth : true
			},
			"home" : {
				keepInRAM : false
			}
		},
		"MIMES" : {
			"" : "text/html",
			".html" : "text/html",
			".htm" : "text/html",
			".css" : "text/css",
			".js" : "text/javascript",
			".png" : "image/png",
			".jpg" : "image/jpeg",
			".jpeg" : "image/jpeg",
			".bmp" : "image/bmp",
			".gif" : "image/gif",
			".swf" : "application/x-shockwave-flash",
			".lml" : "application/x-lilium-markup"
		},
		"supported_pictures" : [
			".jpg",
			".jpeg",
			".bmp",
			".png",
			".gif"
		],
		"website" : {
			"sitetitle" : "A Lilium Website",
			"language" : "en",
			"flower" : "garden"
		},
		"login" : {
			"csspath" : "static/admin.css",
			"jspath" : "static/admin.js"
		},
		"admin" : {
			"csspath" : "static/admin.css",
			"jspath" : "static/admin.js"
		},
		"vendor" : {
			"productname" : "Lilium CMS",
			"version" : "0.1 DEV",
			"infourl" : "http://liliumcms.com/info"
		}
	}
};

module.exports = _config;
