.big-list-items {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
    justify-content : center;
}

.big-list-empty-template {
    padding: 20px;
    background: white;
    border-radius: 6px;
    display: block;
    margin: 100px auto 0;
    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
    font-size: 20px;
    color: #999;
    font-weight: 100;
}

.big-list-tool-bar {
    display: flex;
    background: #F6F6F6;
    border-bottom: 1px solid #DDD;
}

.big-list-tools {
    display: flex;
}

.big-list-tool-bar-title {
    padding: 10px 14px;
    font-size: 18px;
    text-transform: uppercase;
    background: #E6E6E6;
    border-right: 1px solid #DDD;
    font-weight: bold;
    color: #BBB;
}

.big-list-tools .big-list-tool-wrap {
    padding: 10px 15px;
    border-right: 1px solid #DDD;
}

.big-list-tools .big-list-tool-wrap b {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.big-list {
    .tr {
        display: table-row;

        .td {
            display: table-cell;
        }

        .th {
            display: table-cell;
        }
    }
}
