.thread-view {
    display: flex;
}

.thread-view-col {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.thread-reply {
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: @softshadow; 
}

.thread-view h2 {
    text-align: center;
    padding: 20px 0px 10px;
}

.thread-view-actions .button-worker {
    margin-right: 15px;
}
