/**
 * Defines constants to be used all troughout the site
 */

// Colors
@whitebg              : #FFFFFF;
@whiteish             : #F9F9F9;
@liliumBackground     : #f2eef3;
@lesswhiteish         : #E6E6E6;
@grayBorderColor      : #DDD;
@grayish              : #BBB;
@middleGray           : #999;
@blackish             : #333;

@liliumPurple         : #af57e4;
@green                : #13ad21;
@yellow               : #ceab5d;
@red                  : #d80328;
@blue                 : #3b86fb;
@purple               : #e522e6;
@orange               : #e69922;

// Fonts
@mainFont       : "Nunito Sans", sans-serif;
@titleFont      : "Oswald", sans-serif;
@subtitleFont   : "Yanone Kaffeesatz", sans-serif;
@monospaceFont  : "Courier New", Courier, monospace; 
@serifFont      : 'Lora', serif;

// Sizes
@headerHeight   : 60px;
@rendererBottom : 50px;

// z-indices
@z_urlRenderer:         1 ;       
@z_liliumMenu:          2 ;
@z_fullScreeMce:        3 ;
@z_cakepopWrapper:      4 ;
@z_header:              5 ;
@z_aimagePicker:        6 ;
@z_fullscreenOverlay:   7 ;
@z_lys:                 8 ;
@z_modal:               9 ;
@z_notification:        10;

.main-font      { font-family: @mainFont;      }
.title-font     { font-family: @titleFont;     }
.subtitle-font  { font-family: @subtitleFont;  }
.monospace-font { font-family: @monospaceFont; }
.serif-font     { font-family: @serifFont;     }

// Global helpers 
.scroll-lock { overflow: hidden; }

// Shadows and shades
@softshadow: 0px 1px 2px rgba(0,0,0,0.2);

@buttonDarken: 8%;
@buttonBorderDarken : 15%;
