/**
 * Defines constants to be used all troughout the site
 */

@liliumPurple: #af57e4;
@bodyBackgroundGray: #f3f3f3;
@navDarkGray: #222;
@leftNavBackgroud: lighten(@liliumPurple, 20%);
@liliumBackground: #f2eef3;

@mainFont : "Nunito Sans", sans-serif;
@titleFont: "Oswald", sans-serif;
@subtitleFont : "Yanone Kaffeesatz", sans-serif;
@monospaceFont : Courier, monospace; 
@serifFont : 'Lora', serif;

.main-font      { font-family: @mainFont;      }
.title-font     { font-family: @titleFont;     }
.subtitle-font  { font-family: @subtitleFont;  }
.monospace-font { font-family: @monospaceFont; }
.serif-font     { font-family: @serifFont;     }