.content-chain {
    background-color: @whitebg;
    box-shadow: @softshadow; 
    /* Featured image square width */
    width: 100%;
    margin: 20px;
    display: flex;

    .content-chain-info {
        padding: 25px;
    }

    .content-chain-no-image {
        width: 320px;
        height: 320px;
        background-color: @lesswhiteish;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .chain-title {
        margin: 6px;
    }
}

#content-chain-edit {
    max-width: 800px;
    margin: auto;
    
    .content-chain-featured-image-picker {
        background-color: @lesswhiteish;
        min-height: 50px;
        cursor: pointer;
    }
    
    p.choose-featured-image {
        margin: auto;
        margin-top: 18px;
    }
    
    img.featured-image {
        display: block;
        width: 100%;
        height: auto;
    }
}

.content-chain-list-articles-list {
    margin-left: 4px;
    overflow-y: auto;
    max-height: 120px;
    border: 1px solid @grayBorderColor;
}

.content-chain-list-articles-list h4.content-chain-list-article-title {
    margin: 4px;
}

.content-chain-extra-info {
    flex-grow: 1;
    padding: 25px;
}

.content-chain-extra-info p.content-chain-info {
    text-align: right;
    margin: 4px;
    padding: 0px;
}

#content-chains-list {
    .card {
        b.title {
            font-size: 18px;
        }
    }

    .create-new-chain-card {
        text-align: center;
        cursor: pointer;
        color: @grayish;
        line-height: 40px;
        padding: 180px 0px;
        transition: color 0.1s;
    
        i {
            font-size: 48px;
        }
    
        b {
            font-size: 32px;
        }
    }
}
