@ccWidth: 85mm;
@ccBorderRadius: 10px;

.credit-card {
    background-color: lighten(@liliumPurple, 10%);

    background:
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.1) 75%) 0 0,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.1) 75%) 0 0,
        linear-gradient(115deg, transparent 75%, rgba(255,255,255,.1) 75%) 7px -15px,
        linear-gradient(245deg, transparent 75%, rgba(255,255,255,.1) 75%) 7px -15px,
        lighten(@liliumPurple, 10%);

    background-size: 15px 30px;

    border: 1px solid darken(@liliumPurple, 5%);
    color: @whiteish;
    border-radius: 10px;
    width: @ccWidth;
    height: 53mm;
    margin: 8px;
    position: relative;
    text-shadow: 1.5px 1.5px 0px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    transition: all 0.2s ease-out;
    
    sup {
        font-size: 12px;
    }

    .scheme-logo {
        position: absolute;
        top: 12px;
        right: 12px;
    }

    .card-bank-name {
        position: absolute;
        top: 12px;
        left: 12px;
        margin: 0px;
        font-family: @mainFont;
        text-transform: capitalize;
    }

    .card-data {
        font-size: 18px;
        margin: 30% 30px 12px 30px;

        p.card-number {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .secondary-info {
            display: flex;
            justify-content: space-between;
        }
    }

    .card-currency {
        position: absolute;
        right: 6px;
        bottom: 6px;
    }
}
