.dashboard-tabs {
    display: flex;
    background: #ede5ef;

    .dashboard-tab {
        padding: 20px;
        margin: 0px 10px 0px;
        font-weight: bold;
        cursor: pointer;

        &.selected {
            border-bottom: 3px solid @liliumPurple; 
        }
    }
}

.dashboard-view {
    padding: 20px;
}   
