#embed-picker {
    .embed-picker-list {
        display: flex;
        flex-wrap : wrap;
    }

    .embed-topbanner {
        background : @blackish;
        color : @whiteish;

        padding: 6px 8px;

        i {
            font-size: 22px;
            display: inline-block;
            vertical-align: middle;
        }

        span {
            margin-left: 6px;
            display: inline-block;
            vertical-align: middle;
        }

        &.instagram { background : linear-gradient(to top left, #FFDC80, #E1306C); }
        &.twitter   { background : #08A0E9; }
    }

    .embed-single {
        width: 250px;
        background: @whiteish;
        box-shadow: @softshadow; 
        min-height: 220px;
        max-height: 400px;
        margin-bottom: 10px;
        cursor: pointer;
        border-radius: 5px;

        &.embed-add {
            font-size: 26px;
            color: @grayish;
            text-align: center;

            padding-top: 65px;
            box-sizing: border-box;

            i {
                font-size: 48px;
                display: block;
            }

            &:hover {
                background: @green;
                color: @whiteish;
            }
        }
    }

    .instagram-preview {
        position: relative;

        .instagram-preview-image {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 200px;
            display: block;
        }

        .instagram-preview-credit {
            position: absolute;
            top : 6px;
            left: 6px;
            padding: 2px 5px;
            font-size: 12px;
            color: @blackish;
            text-shadow: 1px 1px 0px @whiteish;
            z-index: 1;
        }

        p {
            font-size: 14px;
        }
    }

    .twitter-preview {
        position: relative;

        .fa-twitter {
            font-size: 32px;
            color : #38A1F3;
        }

        .twitter-tweet {
            margin: 0px;
            padding: 10px;

            p {
                margin: 0px;
                padding: 0px 30px 0px 0px;
                font-size: 14px;
            }

            &>a {
                text-decoration: none;
                color: @grayish;
                font-size: 12px;
            }
        }

        .twitter-logo-wrap {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
}
