/* Entities */
.card.flex.entity-card {
    width: 280px;
}

.card.flex.create-new-entity-card {
    width: 280px;
    text-align: center;
    cursor: pointer;
    color: @grayBorderColor;
    line-height: 40px;
    padding: 180px 0px;
    transition: color 0.1s;

    i {
        font-size: 48px;
    }

    b {
        font-size: 32px;
    }

    &:hover {    
        color: @middleGray;
    }
}

.entity-card {
    .image-wrapper.no-avatar {
        img {
            width: 180px;
            display: inline-block;
            margin-top: 40px;
        }

        width: 280px;
        height: 280px;
        background-color: @blackish;
        text-align: center;
    }

    &> img.profile-picture {
        width: 280px;
        height: 280px;
        object-fit: cover;
        display: block;
        background-color: @whiteish;
        color: @blackish;
    }

    .action-separator {
        margin-bottom: 0px;
    }

    &> .info {
        padding: 10px;
        margin: 0px;
    }

    &> .info > * {
        margin: 0px;
    }
}

#edit-entity {
    width: 75vw;
    margin: 0 auto;

    #entity-info {
        display: flex;
    }
}
