/* Flagging */
.flag-type-text {
    color: @navDarkGray;
    display: inline-block;
    vertical-align: middle;
    margin-left: 12px;
    font-size: 14px;
    font-weight: bold;
}

.flag-list-poster {
    margin-top: 20px;
}

.flag-list-poster img {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
}

.flag-list-poster span {
    margin-left: 12px;
    vertical-align: middle;
    display: inline-block;
}

.flag-list-message {
    padding: 10px 0px;
    margin: 20px 0px 0px;
    font-size: 20px;
}

.flag-list-details {
    font-size: 14px;
    border-bottom: 1px dashed @grayBorderColor;
    border-top: 1px dashed @grayBorderColor;
    margin: 10px 0px;
    padding: 10px 0px;
}
