.scroll-x {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    border: 0.5px solid #CCC;
}
 
::-webkit-scrollbar-thumb {
    background: #DDD;
}

*:hover::-webkit-scrollbar-thumb {
    background: darken(@liliumPurple, 20%);
}

.fa-spin-fast {
    font-size: 60px;
    color: rgb(170, 153, 185);
    margin-top : 20px;
}

.leader-title {
    padding-bottom: 250px;
    color: #F6F6F6;
    background: #333;
    background: linear-gradient(55deg, #815bc7 0%, #ab4f9b 100%);

    .leader-title-responsive {
        margin: auto;
        max-width: 720px;
        padding-top: 60px;

        h1 {
            color: #F6F6F6;
            border: none;
            margin: 0px 0px 20px;
        }

        p {

        }
    }
}

.leader-content {
    margin-top: -120px;
}
