.scroll-x {
    overflow-x: auto;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
::-webkit-scrollbar-track {
    border: 0.5px solid darken(@grayBorderColor, 5%);
}
 
::-webkit-scrollbar-thumb {
    background: @grayBorderColor;
}

*:hover::-webkit-scrollbar-thumb {
    background: darken(@liliumPurple, 20%);
}

.fa-spin-fast {
    font-size: 60px;
    color: lighten(@liliumPurple, 20%);
    margin-top : 20px;
}

.leader-title {
    padding-bottom: 250px;
    color: @whiteish;
    background: lighten(@liliumPurple, 5%);
    background: linear-gradient(55deg, @liliumPurple 0%, lighten(@liliumPurple, 10%) 100%);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.2);

    .leader-title-responsive {
        margin: auto;
        max-width: 720px;
        padding-top: 60px;

        h1 {
            color: @whiteish;
            border: none;
            margin: 0px 0px 20px;
        }
    }
}

.leader-content {
    margin-top: -120px;

    &.solid {
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        background: @liliumBackground;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px -2px 0px 0px rgba(0,0,0,0.1);
    }

    &.classic {
        padding: 40px;
        width: 720px;
        box-sizing: border-box;
    }
}

.flex-wrap {
    display: flex;
}
