#lys-wrap {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#lys {
    width: 600px;
    position: relative;
    margin: 150px auto 0px;
    padding: 10px;
    background: #ece7ef;
    border-radius: 10px;
    border : 3px solid #ca9be6;
}

#lys-input {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 18px 18px 14px;
    width: 100%;
}

#lys-input:focus {
    outline-color: #af57e4;
}

#lys-sugg-big-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border: 2px solid #ca9be6;
    border-radius: 5px;
    box-sizing: border-box;
}

#lys-sugg-big-icon-i {
    font-size: 32px;
    font-weight: 100;
    text-align: center;
    display: block;
    margin-top: 12px;
}

.lys-sugg {
    cursor: pointer;
    margin: 5px 0px;
}

.lys-sugg i {
    width: 32px;
    height: 32px;
    border: 1px solid #AAA;
    background: #EEE;
    color: #333;
    text-align: center;
    box-sizing: border-box;
    padding-top: 7px;
    margin-right: 6px;
    font-weight: 300;
}

#lys-sugg-cmds {
    padding-top: 4px;
    margin-top: 10px;
    border-top: 1px dashed #af57e4;
}

#lys-help {
    text-align: center;
    padding: 20px 0px;
}

.lys-help-logo {
    width: 100px;
    filter: grayscale(1);
}

#lys-help ul {
    text-align: left;
}