.endpoint-paymentdashboard {
    .tabview {
        margin: 0;
        height: 100%;
        overflow-y: auto;
    }

    .tabview .tab-content {
        padding: 0;
    }
}

#pending-payment-overviews {
    display: flex;
    flex-direction: row;
    height: 100%;

    .pad10 {
        padding: 10px;
    }

    .payment-selection-boc {
        cursor: pointer;
        background: transparent;
        border: 2px solid rgba(0, 0, 0, 0.4);
        width: 20px;
        height:  20px;
        border-radius: 4px;

        i.fa {
            display: none;
        }
    }
    
    .contractor-info {
        display: flex;
        align-content: center;
        align-items: center;
        height: 65px;
    }

    .contractor-info-multi-item {
        text-align: left;
        padding-bottom: 8px;
        margin-bottom: 8px;
        border-bottom: 1px solid @grayBorderColor; 

        img {
            vertical-align: middle;
            display: inline-block;

            height: 48px;
            margin-right: 12px;
            border-radius: 50%;
        }

        h2 {
            vertical-align: middle;
            display: inline-block;

            font-size: 20px;
        }
    }

    img.contractor-avatar {
        height: 50px;
        width: auto;
        border-radius: 50%;
        padding: 0px 12px;
    }
    &.small {
        img.contractor-avatar {
            height: 40px;
        }
    }

    @controlsHeight: 40px;
    & > #pending-payments-list {
        flex: 0 0 400px;
        max-height: 100%;

        #list-controls {
            display: flex;
            margin: 4px 12px;
            height: @controlsHeight;
            h4 {
                margin: 0px 8px;
            }
        }

        .scroll {
            height: calc(100% - @controlsHeight);
            overflow-y: scroll;
        }
        
        .pending-payment-card {
            margin: 1px;
            padding: 6px 0px 6px 20px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
            display: flex;
            cursor: pointer;
            
            &.selected {
                background: @liliumPurple;
                background: -webkit-linear-gradient(35deg, #b48efb 0%, #f777e1 100%);
                color: @whiteish;
                .selection-box-wrapper {
                    .payment-selection-boc {
                        background-color: @whiteish;

                        i.fa {
                            display: initial;
                            color: @blackish;
                            margin-left: 2px;
                        }
                    }
                }
            }

            .contractor-name {
                margin: 0px 4px 4px;
            }
            p.payment-text-detail {
                margin: 0px 4px;
            }

            .selection-box-wrapper {
                display: flex;
                align-items: center;
            }
        }
    }

    #payment-details-column {
        flex-grow: 1;
        background: @liliumBackground;
        overflow-y: auto;

        #no-selected-payment {
            margin: 40px auto;
            padding: 12px;
            width: 30%;
            text-align: center;
        }

        #payment-details-header {
            text-align: center;
            background: @whiteish;
            padding: 20px 10px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            margin-bottom: 4px;

            img {
                height: 75px;
                width: auto;
                margin-top: 10px;
            }

            #detailled-payment-info {
                #payment-period {
                    font-weight: 400;
                }

                p {
                    margin: 0px 0px 8px;
                }
            }

            #pay-individual {
                padding: 10px 0px;
            }

            .button-worker {
                margin: 0px;
            }
        }

        #individual-payment-breakdown {
            padding: 12px;
        }

        .payments-breakdown {
            height: 100%;
            overflow-y: auto;
            text-align: center;

            #breakdown-header {
                background: @whiteish;
                margin-bottom: 4px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                padding: 6px 0px 20px;

                h1 {
                    padding: 40px 20px 10px 20px;
                    font-size: 28px;
                    border-bottom: 0px;
                    text-align: center;
                    margin: 0;
                    font-weight: normal;
                }
            }

            .payment-avatar-list {
                text-align: center;
                padding: 20px;

                .payment-multi-thumbnail {
                    width: 50px;
                    margin: 5px;
                    border-radius: 50%;
                    border: 2px solid @whiteish;
                    box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
                }
            }

            .payment-totals {
                text-align: center;

                .payment-total {
                    font-size: 20px;
                    margin-bottom: 12px;
                    display: inline-block;

                    &:not(:first-child) {
                        &:before {
                            content : ', ';
                        }
                    }
                }
            }
        }
    }
}

.card.payment-summary {
    padding: 12px;
    box-sizing: border-box;
    text-align: left;

    .contractor-name {
        flex-grow: 1;
        margin: 0px;
    }
}

table.articles-summary {
    max-width: 100%;
    box-sizing: border-box;
    @headlineColumnWidth: 70%;
    margin: 0;

    th {
        text-align: left;
    }

    tr > * {
        padding: 0px 4px;
        &:not(:first-child) {
            width: calc((100% - @headlineColumnWidth) / 3);
        }
        &:first-child {
            max-width: @headlineColumnWidth;
            width: @headlineColumnWidth;
            overflow: hidden;
        }
    }
}

#credit-cards-management {
    display: flex;
    height: 100%;
    
    #credit-card-list {
        height: 100%;
        overflow-y: scroll;
        width: 350px;
        padding: 25px;

        & > * {
            .credit-card {
                margin: 8px auto;
                cursor: pointer;
            }

            &.selected .credit-card {
                transform: scale(1.1) rotateZ(-3deg);
                margin-bottom: 16px;
                margin-top: 16px;
            }
        }
    }

    #credit-card-details-pane {
        height: 100%;
        flex-grow: 1;

        #credit-card-edit {
            background: @whiteish;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            margin: 20px auto;
            border-radius: @ccBorderRadius;
            /* Force children to obey border radius */
            overflow: hidden;
            width: calc(@ccWidth * 1.3);

            .credit-card {
                width: 100%;
                height: auto;
                margin: 0 auto;
                border-radius: 0px
            }

            #credit-card-form {
                margin: 12px 6px;

                #bottom-line > * {
                    width: 50%;
                }
            }
        }
    }
}

.payment-nothing-selected {
    height: 100%;
}

#invoices-history {
    height: 100%;
    
    .invoice {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 3px 12px;

        & > * {
            flex-basis: 0;
            flex-grow: 1;
        }

        .invoice-number {
            flex: 0 0 100px;
        }

        .invoice-contractor {
            display: flex;
            align-items: center;

            img {
                height: 40px;
                width: auto;
                border-radius: 50%;
                padding: 0px 6px;
            }
        }

        .invoice-status {
            color: @red;

            &.valid {
                color: @green;
            }
        }
    }
}
