/** Picker is a singleton */

@pickerCarouselElementHeight: 150px;

#picker-overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: @z_aimagePicker;
    background-color: rgba(0,0,0,0.7);
}

#picker-wrapper {
    height: 95vh;
    width: 94vw;
    margin: 0 auto;
    margin-top: 20px;
    background: white;

    & > #picker {
        height: 100%;

        &.carousel-session {
            height: calc(100% - @pickerCarouselElementHeight);

            #picker-carousel {
                min-height: @pickerCarouselElementHeight;
                background: @fieldBackgroundColor;
                box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: row;

                #carousel-preview {
                    flex-grow: 1;
                    padding: 8px 16px;
                }

                #picker-carousel-actions {
                    flex: 0 0 60px;
                    display: flex;
                    align-items: center;
                    justify-items: center;
                    padding: 8px;
                    background-color: #dedede;
                }

                #carousel-empty-text {
                    & > * {
                        text-align: center;
                    }
                }
            }
        }
    }
}
