.create-new-ponglink-card {
    text-align: center;
    cursor: pointer;
    color: @grayish;
    line-height: 40px;
    padding: 30px 0px;
    transition: color 0.1s;

    i {
        font-size: 48px;
        vertical-align: middle;
        margin-right: 15px;
    }

    b {
        font-size: 32px;
        vertical-align: middle;
    }

    &:hover {    
        color: @middleGray;
    }
}

#create-ponglink {
    .version-card {
        padding: 20px;
        box-sizing: border-box;
        margin-top: 10px;
    }
}

#ponglink-insights {
    #general-info {
        width: initial;
        
        .field-wrap {
            display: inline;
            span {
                display: inline;
                font-size: 24px;
                margin-right: 6px;
            }
        }
    }

    .ponglink-actions {
        text-align: right;

        #ponglink-archived {
            color: @red;
        }
    }
}

.ponglink-versions-list {
    padding: 8px;

    .version {
        display: flex;

        .version-medium {
            flex: 0 0 15%;
        }
        .version-destination {
            flex-grow: 1;
        }
        .version-remove,
        .version-copy {
            flex: 0 0 5%;
            display: flex;
            justify-content: center;
            align-content: center;

            i {
                cursor: pointer;
            }
        }

        .version-remove i {
            color: @red;
        }

        &.version-header {
            & > * > * {
                margin: 4px 0px;
            }
        }

        .field-wrap {
            margin: 0px 0px 4px 0px;
        }
    }
}
