#pw-manager {
    .password {
        display: flex;
        align-content: center;
        margin-bottom: 6px;
        .field-wrap {
            margin: 0px;
        }

        .delete-password {
            flex: 0 0 25px;
            height: 25px;
            color: @red;
            margin-right: 8px;
            box-sizing: border-box;
            text-align: center;
            cursor: pointer;
        }
    }
    
    .password-name {
        flex: 0 0 25%;
    }
    .password-plaintext {
        flex-grow: 1;
    }
}

