#pw-manager {
    .password {
        display: flex;
    }
    
    .password-name {
        flex: 0 0 25%;
    }
    .password-plaintext {
        flex-grow: 1;
    }
}

.password {
    .delete-password {
        background-color: #FF3333;
        width: 15px;
        height: 15px;
        margin: 8px;
        margin-top: 18px;
        padding: 5px;
        text-align: center;
        color: white;
        cursor: pointer;
    }
}
