#roles {
    .role-card {
        .role-title {
            background: #F6F6F6;
            padding: 12px;
            font-size: 18px;
            border-bottom: 1px solid #CCC;
        }        

        .role-desc {
            font-size: 16px;
            padding: 12px;
            color: #333;
        }

        .field-wrap {
            margin-bottom: 0px;
        }

        .role-rights {
            margin-top: 20px;
        }

        .classic-field.faux {
            border: none;
            border-top: 1px solid #DDD;
            background: transparent;
        }
    }


}
