/* Sidebar menus */
#lilium-menu {
    position: fixed;
    left: 0;
    top: 50px;
    padding: 30px 10px 0px 0px;
    margin: 0;
    bottom: 0px;
    width: 230px;
    color: white;
    transition: 0.2s;
    transform: translate3d(-210px, 0px, 0px);
    z-index: 5;
    background: #333;
}

#lilium-menu:hover {
    transform: translate3d(0px, 0px, 0px);    
    background: #333;
}

#lilium-menu.snap {
    transform: translate3d(0px,0px,0px);
    background : #2d2d2d;
}

.menu-item {
    padding: 5px 12px;
}

.menu-item i {
    width: 22px;
}