/* Sidebar menus */
#lilium-menu {
    position: fixed;
    left: 0;
    top: @headerHeight;
    padding: 0px 0px 0px 0px;
    margin: 0;
    bottom: 0px;
    width: 240px;
    color: white;
    transition: 0.2s;
    transform: translate3d(-210px, 0px, 0px);
    z-index: @z_liliumMenu;
    background: #333;

    &:hover {
        transform: translate3d(0px, 0px, 0px);    
        // background: #333;
    }
    
    &.snap {
        transform: translate3d(0px,0px,0px);
        // background : #2d2d2d;
    }

    .lilium-menu-active {
        margin-top: 10px;
        color: #DDD;

        .sidebar-menu-item {
            display: block;
            padding: 10px 20px;
            cursor: pointer;
            transition: all 0.1s;

            animation: side-menu-items-anim 0.1s;
    
            i {
                margin-right: 10px;
                display: inline-block;
                width: 18px;
            }

            &:hover {
                background: rgba(0,0,0,0.2);
            }

            &.selected {
                background: rgba(0,0,0,0.3);
            }
        }
    }

    .lilium-menu-sections-all {
        position: relative;
        text-align: center;
    }

    .lilium-menu-section-header {
        display: inline-block;
        padding: 14px 0;
        background: #222;
        margin: 4px;
        border-radius: 6px;
        text-align: center;
        cursor: pointer;

        width: 50px;
        
        &.grad {
            &.pink {
                background-color: #FBDA61;
                background-image: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
                background-image: -moz-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
                background-image: -o-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
                background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
            }
            
            &.lemon {
                background-color: #85FFBD;
                background-image: -webkit-linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
                background-image: -moz-linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
                background-image: -o-linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
                background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
                color: black;
            }
            
            &.orange {
                background-color: #FBAB7E;
                background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                background-image: -moz-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                background-image: -o-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
                color: #3a2e17;
            }
            
            &.sky {
                background-color: #8BC6EC;
                background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
                background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
                background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
                background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
            }
        }
    }
}

@keyframes side-menu-items-anim {
    from {
        opacity : 0;
    }
    to {
        opacity : 1;
    }
}