@tabBarHeight: 35px;

.tabview:extend(.card) {
    box-shadow: none;
    height: 100%;
    background: @whiteish;

    .tabs-bar {
        height: @tabBarHeight;
        background: @whiteish;

        .tab-name {
            margin: 0px;
            padding: 6px 18px;
            display: inline-block;
            cursor: pointer;

            &.active {
                padding-top: 3px;
                font-size: 19px;
                background: @whiteish;
                border-top: 2px solid @liliumPurple;
                box-shadow: 0px -4px 0px 3px rgba(0, 0, 0, 0.1);
            }
        }
    }

    .tab-content {
        height: calc(100% - @tabBarHeight);
        padding: 14px;
        box-sizing: border-box;

        & > .tab-inner-content-wrapper {
            height: 100%;
        }
    }
}
