.tree-view {
    .tree-node-collection {
        padding-left: 20px;
        border-left: 1px solid #AAA;
    }

    .tree-node-display-text {
        i {
            margin-right: 6px;
            font-size: 12px;
        }

        span {
            cursor: pointer;
            color: #EEE;

            &.bold {
                font-weight: bold;
                color: white;
            }
        }
    }

    .tree-node-add-child {
        display: inline-block;
        padding: 2px 6px;
        background: #292929;
        margin: 2px 0px;
        border-radius: 4px;
        cursor: pointer;

        i {
            margin-right: 6px;
        }

        span {
            
        }
    }
}

