body, html {
    background: #f2eef3;
    color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.main-font {
    font-family: 'Nunito Sans', sans-serif;
}

.ptext {
    color: #af57e4;
}

.pback {
    background-color: #af57e4;
}

.link {
    cursor: pointer;
}

.link.inline-link, .inline-block {
    display: inline-block;
    vertical-align: middle;
}

#urlrenderer {
    position: relative;
    top: 50px;
    left: 30px;
    width: calc(100% - 30px);
    transition: all 0.2s;
    z-index: 2;
}

#urlrenderer.snap {
    transform: translate3d(210px, 0px, 0px);
    width: calc(100% - 240px);
}

#headerRtCounter {
    color: #af57e4;
    font-weight: bold;
    font-size: 20px;
    padding: 11px 15px;
}

#lilium-menu {
    position: fixed;
    left: 0;
    top: 50px;
    padding: 30px 10px 0px 0px;
    margin: 0;
    bottom: 0px;
    width: 230px;
    color: white;
    transition: 0.2s;
    transform: translate3d(-210px, 0px, 0px);
    z-index: 5;
    background: #333;
}

#lilium-menu:hover {
    transform: translate3d(0px, 0px, 0px);    
    background: #333;
}

#lilium-menu.snap {
    transform: translate3d(0px,0px,0px);
    background : #262626;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #333;
    z-index: 10;
    display: flex;
}

#lilium-logo-wrapper {
    display: block;
    height: 50px;
    background: #262626;
    width: 240px;
    cursor: pointer;
}

#lilium-brandname {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 84px;
    font-size: 26px;
    top: 7px;
}

#lilium-logo {
    height: 130px;
    position: relative;
    top: -50px;
    margin-left: -50px;
    display: inline-block;
}

#lilium-logo.spin {
    animation: anim 2s infinite 0s ease-in-out;
}

h1, h2 {
    padding: 15px;
    margin: 0;
}

#lilium div.mce-fullscreen {
    position: fixed;
    top: 50px;
    left: 30px;
    z-index: 10;
}

#lilium #urlrenderer.snap div.mce-fullscreen {
    top: 0px;
    left: 0px;
}

#lys-wrap {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
}

#lys {
    width: 600px;
    position: relative;
    margin: 150px auto 0px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

#lys-input {
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    border: none;
    padding: 18px 18px 14px;
    width: 100%;
}

.lys-sugg {
    cursor: pointer;
}

#lys-help {
    text-align: center;
    padding: 20px 0px;
}

.lys-help-logo {
    width: 100px;
    filter: grayscale(1);
}

#lys-help ul {
    text-align: left;
}

.devtool-strip {
    width : 100%;
    background : rgba(0,0,0,0.8);
}

.devtool-strip.hidden {
    width: 100px;
    background : rgb(175, 87, 228);
}

.pad {
    padding: 15px;
}

.menu-item {
    padding: 5px 12px;
}

.menu-item i {
    width: 22px;
}

.button-worker {
    display: inline-block;
    position: relative;
    overflow: hidden;
    padding: 8px 12px;
    background: #be78cf;
    box-shadow: 0px 1px 2px rgba(175, 87, 228, 0.28);
    color: white;
    border: 1px solid #9355af;
    cursor: pointer;
}

.button-worker span {
    transition: all 0.2s;        
    transform: translate3d(0px, 0px, 0px);
    opacity : 1;

}

.button-worker span.hidden {
    transform: translate3d(0px, -32px, 0px);
    opacity : 0;
}

.working-spinner {
    position: absolute;
    text-align: center;
    right: 0;
    left: 0;
    bottom: -25px;
    opacity: 0;

    transition: all 0.2s;
}

.working-spinner.shown {
    transform: translate3d(0px, -32px, 0px);
    opacity : 1;
}

.graph-paper {
    background-color: #e1d7e2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23eeeeee' fill-opacity='0.94'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.notification-strip {
    background: white;
    border : 1px solid #DDD;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    padding: 9px 12px;
    width: 350px;
    margin-bottom: 10px;
}

.notification-strip > b {
    display: block;
    font-size: 18px;
}

.notification-strip > span {
    display: block;
    margin-top: 5px;
    line-height: 18px;
    color: #333;
}

#image-picker-overlay {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 30;

    background-color: rgba(0,0,0,0.7);
}

#image-picker {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;

    background: white;
}

#image-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 18px 20px;
    position: absolute;
    left: 0;
    right: 400px;
    bottom: 0;
    top: 68px;
    overflow: auto;
}

.image-picker-thumb,
#image-upload-button {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 2px;
    border: 2px solid #CCC;
    cursor: pointer;
    transition: transform 0.2s, border 0.2s;
    box-sizing: border-box;
}

.image-upload-loading,
#image-upload-button {
    background-color: #DDD;
    font-size: 68px;
    text-align: center;
    transition: none;
}

#image-upload-button i,
.image-upload-loading i {
    margin-top: 40px;
    color: white;
}

#image-upload-button:hover {
    background-color: #AAA;
}

.image-picker-thumb:hover {
    border: 10px solid rgb(175, 87, 228);
}

.image-picker-thumb.selected {
    border: 5px solid #73358f;
    transform: rotateZ(5deg) scale(1.1);
}

#image-gallery-detail {
    position: absolute;
    top: 60px;
    right: 2px;
    width: 398px;
    bottom: 0;
}

.image-picker-selected-full {
    background-color: #DDD;
    width: 100%;
    height: auto;
    max-height: 280px;
    object-fit: contain;
}

.image-picker-selected-full[src=""] {
    height: 280px;
}

.image-picker-progress-width {
    transition: all 0.2s;
    width: 0px;
    height: 100%;
    display: block;
    background: #CCC;
}

.realtime-listitem {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 4px;
}

.realtime-listitem-count {
    display: block;
    font-size : 22px;
    font-family: "Oswald", sans-serif;
    width: 48px;
    padding-left: 10px;
    flex : 0 0 48px;
}

.realtime-listitem-title span {
    display: inline-block;
    vertical-align: middle;
}

.realtime-sources-list {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.realtime-listitem-title {
    display: block;
    font-size: 16px;
    color: #333;
    text-decoration: none;
    flex-grow : 1;
    padding-top: 6px;
}

.rt-source-icon {
    display: inline-block;
    vertical-align: middle;
    background: #333;
    color: white;
    padding: 11px 5px;
    border-radius: 5px;
    line-height: 0;
    font-size: 14px;
    text-align: center;
    margin-right: 6px;
}

.rt-source-word {
    background: #333;
    display: inline-block;
    vertical-align: middle;
    color: white;
    padding: 1px 5px;
    border-radius: 3px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

a {
    color : #af57e4;
}

@keyframes anim {
    0% { transform: rotateZ(0deg); }
    100% { transform: rotateZ(360deg); }
}


/* 
    Pseudo Eleents and Selector
    This section is useful to apply style to pseudo elements that React can't have access to
*/

.change-placeholder::-webkit-input-placeholder {
    color: #ddd;
}
