/* Lilium CMS - Flat style
 *
 *
 *
 */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,100); /* 'Raleway', sans-serif */
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter); /* 'Architects Daughter', cursive */

html, body {
	padding:0;
	margin:0;

	font-family: 'Raleway', sans-serif;
	color: #111;
}

input, textarea, button {
	outline: none;
	border: none;
}

button, input[type="submit"] {
	cursor: pointer;

}

lml\:template, lml\:tobject, lml {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
	font-weight: 100;
}

form input, form label{
	display: block;
}

.lilium {
	padding:0;
	margin:0;
}

/* Normalized Forms */
.lmlform {
	background-color: #F6F6F6;
}

.lmlform-fieldwrapper {
	padding: 10px;
}

.lmlform-fieldwrapper label {
	margin-right: 10px;
}

.lmlform input, .lmlform select, .lmlform textarea {
	padding: 10px;
	font-size: 14px;
}

/* PushTables */
.lmlpushtable {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	width: 100%;

	border-collapse: separate;
	border-spacing: 0px;
}

.lmlpushtable thead tr,
.lmlpushtable tfoot tr {
	padding: 2px;
	background-color: #EEE;

	font-size: 18px;
	font-weight: bold;
}

.lmlpushtable thead th,
.lmlpushtable tfoot td,
.lmlpushtable tbody td {
	padding: 10px;
	text-align: left;
}

.lmlpushtable thead th input, 
.lmlpushtable thead th select {
	padding: 6px;
}

.lmlpushtable .lmlpushtablecasenotmet {
	display: none;
}

/* @/login */
.lmllogin {
	background-color: #333;
	color: #EEE;
}

.dashboard-login-form {
	background-color: transparent;
}

.lmllogin .lmlform-fieldwrapper {
	padding: 0px;
}

.lmllogin-wrapper {
	width: 320px;
	height: auto;
	margin: 200px auto 0px auto;

	text-align: center;
}

.lmllogin-wrapper header {
	padding: 10px;
}

.lmllogin-wrapper form {
	overflow: hidden;
	-webkit-border-radius: 5px;
   	   -moz-border-radius: 5px;
	    -ms-border-radius: 5px;
	     -o-border-radius: 5px;
		border-radius: 5px;

	border: 6px solid rgba(255, 255, 255, 0.1);
}

.lmllogin-wrapper form input {
	width: 100%;

 	box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-webkit-box-sizing: border-box;

	padding: 10px;
	font-size: 16px;

	color: #333;
	background-color: #EEE;

	-webkit-transition: all 0.2s;
   	   -moz-transition: all 0.2s;
	    -ms-transition: all 0.2s;
	     -o-transition: all 0.2s;
		transition: all 0.2s;
}

.lmllogin-wrapper form input:hover {
	background-color: #F7F7F7;
}

.lmllogin-wrapper form input:focus {
	background-color: #FFF;
}

.lmllogin-wrapper form input[type="submit"] {
	background-color: #DDD;

	color: #777;
	text-transform: uppercase;
}

.lmllogin-wrapper form input[type="submit"]:hover,
.lmllogin-wrapper form input[type="submit"]:focus {
	background-color: #FFF;
	color: #111;
}

.lmllogin-wrapper footer {
	text-align: right;
	font-size: 12px;
	color: #999;

	margin-top: 3px;
}
