

#picture-list img{
  margin: 2px;
  float: left;
}

.hidden{
  display: none;
}

lml\:livevars, lml\:template {
  display: none;
}
.__removed__ {
    color : red;
    text-decoration: line-through;
}

.__added__ {
    color: green;
}
